@use '../../mixins/Navbar' as *;
@use '../../mixins/darkMode' as *;
@use '../../mixins/button' as *;
@use '../../mixins/mediaQuery' as *;
:root{
    --nav-text: #22223b;
    --button-hover: #d1c1cf;
    --button-hover: linear-gradient(to left,
        #e9ecef,
        #f7f7f8,
        #ffffff
    );
    --hero-text: #22223b;
    --hero-cta-hover-underline: #22223b;
    --hero-img-shadow: #b0b0b0;
    --footer-text: 22223b;
    --social-link-container-bg-color: linear-gradient(to top left,
        #f5f6f7,
        #abb1b8,
        #717780);
    --social-link-container-bg-hover: linear-gradient(0.15turn,
        #4b5563,
        #4b5563,
        #374151);
    --button-login-border-color: #0077b6;
    --button-signup-border-color: #ff8500;
    @include darkMode {
        --nav-text: #f2e9e4;
        --button-hover: #38384b;
        --button-hover: linear-gradient(to left,
            #1e1e31,
            #33333b,
            #2b2b2c
        );
        --hero-text: #f2e9e4;
        --hero-cta-hover-underline: #f2e9e4;
        --hero-img-shadow: #38384b;
        --footer-text: #f2e9e4;
        --social-link-container-bg-color: linear-gradient(to top left,
            #111827,
            #2b3241,
            #676f79);
        --social-link-container-bg-hover: linear-gradient(0.15turn,
            #4b5563,
            #767c85,
            #374151);
    }
}
.LandingPage{
    width:100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
}
.LandingPage-Navbar{
    @include Navbar;

    nav {
        height:100%;
        width:100%;
        align-items: center;
        justify-content: center;
        color: var(--nav-text);
        
        @apply grid grid-cols-2;
        @include mobile{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
.landingPage-Navbar-logoSection{
    margin-left: 3rem;

    font-weight: 700;
    @apply text-4xl;

    @include mobile{
        margin-left: 1.5rem;
        @apply text-xl;
    }
}
.landingPage-Navbar-authSection{
    display: flex;
    justify-content: flex-end;
}
.landingPage-Navbar-auth{
    display: flex;
    @apply text-2xl;

    @include mobile {
        @apply text-base;
    }
    &-login{
        @include button;
        border-color: var(--button-login-border-color);

        &:hover{
            @apply border-blue-600 border-4;
            background: var(--button-hover);
        }
    }
    &-signup{
        @include button;
        border-color: var(--button-signup-border-color);

        &:hover{
            @apply border-yellow-600 border-4;
            background: var(--button-hover);
        }
    }
}

.LandingPage-Hero{
    height: 70vh;
    display: grid;

    @apply grid-cols-2;
    @include mobile{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
}
.LandingPage-Hero-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //transform: translateX(-6rem);
    & h2{
        display: flex;
        font-weight: bold;
        margin-top: 12rem;
        margin-right: 6rem;
        color: var(--hero-text);
        text-decoration: none;
        display: block;
        position: relative;
        @apply text-5xl;
        &::after{
            
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.05em;
            background-color: var(--hero-cta-hover-underline);
            opacity: 0;
            transition: opacity 300ms,
            transform 300ms;

            opacity: 1;
            transform: scale(0);
            transform-origin: center;
        }

        &:hover::after, &:focus::after{
            transform: scale(1);
        }
        @include mobile {
            margin-top: 2rem;
            position: absolute;
            @apply mx-auto text-3xl;
        }
    }
    & p{
        color: var(--hero-text);
        margin-bottom: 30rem;
        @apply text-xl;
        & ul li{
            font-weight: 500;
            margin: 1rem;
        }
        @include mobile{
            margin-top: 5rem;
            margin-left: 3rem;
            @apply text-base;
        }
    }
}
.LandingPage-Hero-img-section{
    display: grid;
    margin-left: 3rem;
    @apply grid-cols-2;
    @include mobile{
        margin-left: 1rem;
    }
}
.LandingPage-Hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 90%;
        height: auto;
        //box-shadow: 2rem var(--hero-img-shadow);
        box-shadow: 1rem 1rem 0.5rem 0.15rem var(--hero-img-shadow);

        @include mobile{
            margin-top: 1rem;
            width: 80%;
            box-shadow: 0.5rem 0.5rem 0.25rem 0.075rem var(--hero-img-shadow);
        }
    }
}
.LandingPage-Footer{
    @apply mx-auto container py-4 xl:px-20 lg:px-12 sm:px-6 mt-20 px-4;

    & div{
        @apply flex flex-col justify-center items-center md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 gap-4;
    }
}
.footer-container-wrapper p {
    color: var(--footer-text);
    @apply text-xl leading-none mt-2;
    @include mobile{
        @apply text-base;
    }
}
.footer-socials-container {
    display: flex !important;
    flex-direction: row !important;
    @apply items-center gap-x-4 mt-4;
}
.social-link-container {
    color: var(--footer-text) !important;
    background: var(--social-link-container-bg-color);
    @apply opacity-50 w-8 h-8 flex-shrink-0 text-2xl cursor-pointer rounded-full flex items-center justify-center;
}
.social-link-container:hover {
    background: var(--social-link-container-bg-hover);
}