$componentsTestColor: rgb(83, 81, 81);

// Navbar
$LandingPageNavbar_lightMode: #00b4d8;
$LandingPageNavbar_darkMode: #023e8a;

$LandingPageNavbar_text_lightMode: #ff7900;
$LandingPageNavbar_text_darktMode: #dedede;