@use '../mixins/darkMode' as *;
@use  '../mixins/Form' as *;
:root {
    --dashboard-text: #22223b;
    --component-form-background: rgba(255, 255, 255, .15);
    --component-hover-background: rgba(255, 255, 255, .2);
    --sidebar-option-hover: rgba(255, 255, 255, .5);
    --component-shadow: #d9d9d9;
    --input-focus-broder: #adadad;
    --border-color: #d9d9d9;

    @include darkMode {
        --dashboard-text: #f2e9e4;
        --component-shadow: #15151b;
        --input-focus-broder: #15151b;
        --component-form-background: rgba(255, 255, 255, .1);
        --component-hover-background: rgba(255, 255, 255, .3);
        --border-color: #d9d9d9;
    }
}

.add-brand-form {
    @include Form;
    background-color: var(--component-form-background);
    border-color: var(--border-color);
    max-width: 55rem;
    min-width: 45rem;
    
    @apply w-9/12 m-2 flex flex-col justify-start rounded-lg p-8 py-10 shadow-lg;
    & h1{
        color: var(--dashboard-text);
        @apply text-3xl flex align-middle justify-center w-full ;
    }
}