@use '../mixins/darkMode'as *;
@use '../mixins/Form'as *;

:root {
    --dashboard-text: #22223b;
    --component-form-background: rgba(255, 255, 255, .15);
    --component-hover-background: rgba(255, 255, 255, .2);
    --sidebar-option-hover: rgba(255, 255, 255, .5);
    --component-shadow: #d9d9d9;
    --input-focus-broder: #adadad;
    --border-color: #d9d9d9;

    @include darkMode {
        --dashboard-text: #f2e9e4;
        --component-shadow: #15151b;
        --input-focus-broder: #15151b;
        --component-form-background: rgba(255, 255, 255, .1);
        --component-hover-background: rgba(255, 255, 255, .3);
        --border-color: #d9d9d9;
    }
}

.add-inventory-form {
    @include Form;
    background-color: var(--component-form-background);
    border-color: var(--border-color);
    max-width: 80rem;
    @apply col-span-11 mx-2 pr-2 rounded-lg py-10 shadow-lg flex flex-col p-8;

    & h1 {
        color: var(--dashboard-text);
        @apply text-3xl w-full flex justify-center align-middle my-3;
    }
}

.inventory-input-container {
    @apply flex w-full p-2 my-2;

    & div {
        @apply w-full justify-start;

        & label {
            @apply justify-start;
        }
    }
}

.small-input-page {
    @apply my-20;
}

.inventory-ref {
    @apply w-3/4 ml-6;
}

.prod-name-brand {}

.prod-cat-price {}

.prod-charact-description div input {
    max-width: 30rem;
    height: 10rem;
}

.add-product-tab {
    background-color: var(--component-form-background);
    @apply flex p-1 space-x-1 rounded-xl w-10/12 mx-auto my-3;
}