
.sidebar {
    height: 100%;
    background-color: var(--component-background);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    //box-shadow: 0.25rem 0.25rem 0.25rem 0.075rem var(--component-shadow);
    border-radius: 0rem 1rem 1rem 0rem;
    min-height: 50rem;
    @apply col-span-2 row-start-1 row-end-2;
}

.Sidebar-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
}

.sidebar-logo-title {
    font-weight: 900;
    color: var(--dashboard-text);
    @apply text-lg;
}

.sidebar-option-wrapper {
    height: 80%;
    display: block;
    margin-top: 6rem;
}

.sidebar-option {
    display: flex;
    align-items: center;
    height: 2.5rem;
    //background-color: var(--component-background);
    margin-top: 1rem;
    border-radius: 0rem 0rem 3rem 0rem;
    cursor: pointer;
    @apply shadow-md;

    &:hover {
        background-color: var(--component-hover-background);
        margin-left: 0.25rem;
        margin-right: 0.5rem; //box-shadow: 0rem 0.15rem 0.15rem 0.075rem var(--component-shadow);
        transition-duration: 0.5s;
        border-radius: 3rem 0rem 3rem 0rem;
        @apply shadow-lg;

    }
}

.sidebar-option span {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--dashboard-text);
    margin-left: 2rem;
    font-weight: 600;
    cursor: pointer;

    @apply text-lg;

}