@use '../mixins/darkMode'as *;

:root {
    --dashboard-text: #22223b;
    --component-table-background: rgba(255, 255, 255, .15);
    --component-hover-background: rgba(255, 255, 255, .2);
    --sidebar-option-hover: rgba(255, 255, 255, .5);
    --component-shadow: #d9d9d9;
    --border-color: #d9d9d9;
    @include darkMode {
        --dashboard-text: #f2e9e4;
        --component-shadow: #15151b;
        --component-table-background: rgba(255, 255, 255, .05);
        --component-hover-background: rgba(255, 255, 255, .3);
        --border-color: #d9d9d9;
    }
}

.table{
    background-color: var(--component-table-background);
    @apply flex flex-col my-8 mx-8 text-left;
}
.table-container {
    @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8;
}
.table-wrapper{
    @apply py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8;
}
.table-wrapper-body{
    //border: 0.05rem solid var(--border-color);
    @apply shadow overflow-scroll sm:rounded-lg;
}
.table-body{
    @apply min-w-full divide-y divide-gray-900;
}
.table-header-body{
    background-color: var(--component-table-background);
}
.table-header-name{
    color: var(--dashboard-text);
    font-weight: 800;
    @apply px-6 py-6 text-left text-xs uppercase tracking-wider;
}
.table-header-del-option{
    @apply relative px-6 py-3;
    & span{
        @apply sr-only hidden;
    }
}
//Table rows
.table-body{
    background-color: var(--component-table-background);
    @apply divide-y divide-gray-900;
}
.table-row-col{
    @apply px-6 py-4 whitespace-nowrap;
}
.table-row-col-img-container{
    @apply flex items-center;
}
.table-img-container{
    @apply flex-shrink-0 h-10 w-10 m-1;
    & img{
        @apply rounded-full;
    }
}
.in-row-img{
    @apply h-10 w-10 rounded-full;
}
.table-row-text-container {
    @apply ml-0;
    & div{
        max-width: max(250px, 18rem);
        overflow-x: auto;
        scrollbar-width: none;
        color: var(--dashboard-text);
        @apply text-sm font-medium;
    }
}
.table-delete-container{
    display: flex;
    justify-content: flex-end;
    @apply px-6 py-4 whitespace-nowrap text-right text-base font-medium;
    & a{
        display: flex;
        justify-content: flex-end;
        @apply text-indigo-700 hover:text-red-900;
        @include darkMode{
            @apply text-indigo-300 hover:text-red-400;
        }
    }
}